body {
  padding-top: 69px;
  position: relative;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}
.navbar-header a.navbar-brand {
  margin-top: -13px;
  margin-bottom: -30px;
  color: #1aff98 !important;
}
.navbar-header a.navbar-brand p {
  font-size: 80%;
  margin-bottom: -10px;
  color: #09ff74;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #1aff98;
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
section {
  display: block;
}
.containerOuter {
  height: 350px;
  width: 100%;
  overflow: hidden;
}
#aboutMeIntro {
  background: url("https://lh3.googleusercontent.com/-pvhkbKpgGLI/U0978bPDhiI/AAAAAAAACC0/SKm7JUrm71E/w1032-h387-no/DSC_4314.jpg") no-repeat center bottom #fff;
}
#aboutMeIntro h2 {
  font-size: 300%;
  color: #00b3ee;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  opacity: 0.8;
  text-align: center;
  margin: 4.5em 0px 2em;
}
.reveal-animation {
  transition: all 1s;
  -webkit-filter: grayscale(100%);
}
.reveal-animation:hover {
  -webkit-filter: grayscale(0%);
}
.glow-animation {
  text-shadow: 0 0 0px #fff;
  transition: all 0.5s;
}
.glow-animation:hover {
  text-shadow: 0 0 10px #f9ff4c;
}
.navbar,
navbar-header {
  background-color: #2c2c2c;
/* fallback color, place your own */
/* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #5e5e5e, #818181);
  background-image: -ms-linear-gradient(top, #5e5e5e, #818181);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#818181));
  background-image: -webkit-linear-gradient(top, #5e5e5e, #818181);
  background-image: -o-linear-gradient(top, #5e5e5e, #818181);
  background-image: linear-gradient(top, #5e5e5e, #818181);
  background-repeat: repeat-x;
}
.hover-logo {
  width: 62px;
  height: 62px;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}
@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
