body
  padding-top 69px
  position:relative
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=")
  //background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  //background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+");

.navbar-header a.navbar-brand
  margin-top -13px
  margin-bottom -30px
  color: #1aff98 !important
  p
    font-size 80%
    margin-bottom -10px
    color #09ff74



.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
  color: #ffffff

.navbar-inverse .navbar-brand { color: #1aff98}
.navbar-inverse .navbar-brand:hover { color: #ffffff}
//.navbar-inverse .navbar-brand:link { color: #ffffff}

footer
  padding-left 15px
  padding-right 15px
  clear both
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

section
  display block

.containerOuter
  height 350px
  width 100%
  overflow hidden

#aboutMeIntro
  background-color #EEE
  /* Firefox */
  -moz-transition: all 2s ease-in;
  /* WebKit */
  -webkit-transition: all 2s ease-in;
  /* Opera */
  -o-transition: all 2s ease-in;
  /* Standard */
  transition: all 2s ease-in;

  /*background url(https://lh3.googleusercontent.com/-pvhkbKpgGLI/U0978bPDhiI/AAAAAAAACC0/SKm7JUrm71E/w1032-h387-no/DSC_4314.jpg) no-repeat center bottom #fff;*/
  //background url(https://lh3.googleusercontent.com/-TQOrDDYmkV0/U1YwdB1dyJI/AAAAAAAACIc/euRxYlzQ2OM/w858-h568-no/DSC_7564.jpg)
#aboutMeIntro h2
  font-size 300%
  //background url(http://payload71.cargocollective.com/1/3/111325/3721505/twist.gif)
  color #00b3ee
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)
  opacity 0.8
  text-align center
  margin 4.5em 0px 2em
  span
      /* Firefox */
      -moz-transition: all 1.5s ease-out;
      /* WebKit */
      -webkit-transition: all 1.5s ease-out;
      /* Opera */
      -o-transition: all 1.5s ease-out;
      /* Standard */
      transition: all 1.5s ease-out;

.reveal-animation
    // add the vendor prefixed versions as well
    transition: all 1s;
    -webkit-filter: grayscale(100%);

.reveal-animation:hover
  //opacity: 0.5;
  -webkit-filter: grayscale(0%);

.glow-animation
  text-shadow: 0 0 0px #ffffff
  transition: all 0.5s;

.glow-animation:hover
  text-shadow: 0 0 10px #f9ff4c



.navbar, navbar-header {

  background-color: #2c2c2c; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #5e5e5e, #818181);
  background-image: -ms-linear-gradient(top, #5e5e5e, #818181);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#818181));
  background-image: -webkit-linear-gradient(top, #5e5e5e, #818181);
  background-image: -o-linear-gradient(top, #5e5e5e, #818181);
  background-image: linear-gradient(top, #5e5e5e, #818181);
  background-repeat: repeat-x;
}

.view-animate {
  padding:10px;
}
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;

  display:block;
  width:100%;
  border-left:0px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.content
  position: relative;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  transition-duration: 1s

.content:not(.active)
  left: 540px

.content.active
  left: 0px


  //float right
  //overflow:auto
  //margin-left: 200px;

.hover-logo
  width 62px
  height 62px

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

