extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.glow-animation.navbar-brand(href="/about") XecutionerArts
          p -What's your plan?
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a.glow-animation(href="/") Home
          li
            a.glow-animation(href="/blog") Blog
          //li
            a(href="/technologies") Technologies
          li
            a.glow-animation(href="/about") About
        //div(ng-include="'/partials/account/navbar-login'")



  section.content(class="{{transitionState}}")
    div.view-animate(ng-view)

  footer.container.text-center
    p “Don’t grieve. Anything you lose comes round in another form.” – Rumi


