extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") XecutionerArts
          h6 -What's your plan?
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/blog") Blog
          li
            a(href="/courses") Courses
          li
            a(href="/about") About
        //div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)

  footer.container.text-center
    p “Don’t grieve. Anything you lose comes round in another form.” – Rumi