//script(type="text/javascript", src="/static/animation.js")
script(type="text/javascript", src="/vendor/jquery/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")

script(type="text/javascript", src="/static/angular.js")
script(type="text/javascript", src="/static/app.js")