.container
    //.jumbotron
    //p
        <input type="button" value="set" ng-click="myCssVar='css-class'">
        <input type="button" value="clear" ng-click="myCssVar=''">
        <br>
        <span ng-class="myCssVar">CSS-Animated Text</span>

    section.containerOuter#aboutMeIntro
        h2
            span a
            span b
            span o
            span u
            span t
            span M
            span e
    .jumbotron
        p My name is Sergio Khlopenkov.
        p I'm full stack Web Developer. And I love experimenting with new languages and technologies.
        br
        p I have skills with RESTful APIs, HTML, CSS, JS, PHP, AJAX, JSON
        p Knowledge of different JS technolohies and libraries such as node, angular, jquery, openlayers, express, grunt/gulp, jshint, Q
        p Experience with SQL and NoSQL DB's
        // Experience with Google API Facebook's API
        p Design pattern are familiar to me
        p Quality code and testing is essential for me
