.container
    //.jumbotron
    //p
        <input type="button" value="set" ng-click="myCssVar='css-class'">
        <input type="button" value="clear" ng-click="myCssVar=''">
        <br>
        <span ng-class="myCssVar">CSS-Animated Text</span>

    section.containerOuter#aboutMeIntro
        h2 About Me
    p My name is Sergio Khlopenkov. I'm full stack Web Developer. And I love to learn new technologies.
    p
    p Skills with RESTful APIs, HTML, CSS, JS, PHP, AJAX, JSON
    p Knowledge of different JS libraries such as
    p angular, express, node, require, grunt, jshint
    p Experience with SQL and NoSQL DB's
    p Experience with Google API Facebook's API
    p Design pattern are familiar to me
    p Quality code and testing is essential for me


    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")