.panel.panel-primary
    .panel-heading.text-center Featured Posts
    .panel-body
        .row(ng-repeat="blogrecord in blogrecords | filter:{featured:true}")
            .col-md-12
                a(href="/blog/{{blogrecord._id}}") {{blogrecord.title}}
