.container
    //.jumbotron
      h1 XecutionerArts
      p Welcome to XecutionerArts!
    div#title
        span X
        span e
        span c
        span u
        span t
        span i
        span o
        span n
        span e
        span r

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-techs'")
        .col-md-6
            div(ng-include="'/partials/main/new-posts'")