.panel.panel-primary
    .panel-heading.text-center New Posts
    .panel-body
        .row(ng-repeat="blogrecord in blogrecords | orderBy:'published':true | limitTo:10")
            .col-md-3 {{blogrecord.published | date:'MMM d'}}
            .col-md-9
                a(href="/blog/{{blogrecord._id}}") {{blogrecord.title}}